<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Scores List</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<style>
		.logout-btn {
			margin-right: 1rem;
			font-weight: bolder;
			color: white;
			cursor: pointer;
		}

		.bt1 {
			width: 100px;
			background: none;
			border: none;
		}

		table,
		th,
		td {
			border: 1px solid black;
		}

		th,
		td {
			width: 150px;
			text-align: center;
		}
	</style>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-primary ">
		<div class="container-fluid">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item"><a class="nav-link active text-white fw-bold" aria-current="page">Home</a>
				</li>
			</ul>
		</div>
		<div class="d-flex flex-row-reverse bd-highlight">
			<form action="/logout" method="get">
				<div class="logout-btn">Logout</div>
			</form>
			<a href="/instructorprofile">
				<div class="logout-btn">Profile</div>
			</a>
			<form action="/listscores" method="get">
				<button type="submit" class="logout-btn bt1">Scores List</button>
			</form>
			<form action="/studentlist" method="get">
				<button type="submit" class="logout-btn bt1" style="width: 110px;">List Students</button>
			</form>
			<form action="/instructor-feedbacks" method="get">
				<button type="submit" class="logout-btn bt1">Feedbacks</button>
			</form>
		</div>
	</nav>
	<div style="margin: 1rem;">
		<h3>Scores List :</h3>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th scope="col" class="bg-primary">Student Name</th>
					<th scope="col" class="bg-primary">Course Name</th>
					<th scope="col" class="bg-primary">Exam Date</th>
					<th scope="col" class="bg-primary">Credits Obtained</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="score : ${scores}">
					<td th:text="${score.student}"></td>
					<td th:text="${score.course}"></td>
					<td th:text="${score.dateOfExam}"></td>
					<td th:text="${score.creditObtained}"></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>